<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Elite_Compass.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Elite_Compass.Properties.Settings>
            <setting name="JournalDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="Latitude" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Longitude" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowXPos" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowYPos" serializeAs="String">
                <value>0</value>
            </setting>
        </Elite_Compass.Properties.Settings>
    </userSettings>
</configuration>